@model TestWeb_DangkhanhDuy.Models.Book

<h2>Thêm sách</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="TenSach"></label>
        <input asp-for="TenSach" class="form-control" />
        <span asp-validation-for="TenSach" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TacGia"></label>
        <input asp-for="TacGia" class="form-control" />
        <span asp-validation-for="TacGia" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GiaBia"></label>
        <input asp-for="GiaBia" class="form-control" />
        <span asp-validation-for="GiaBia" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SoLuong"></label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
</form>
